<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="booking">

	<select id="sysdate" resultType="java.lang.String">
		SELECT NOW()
	</select>

	<insert id="add_booking" parameterType="main.vo.BookingVO">
		INSERT INTO BookingT VALUES (default,${space_no},'${user_id}',NOW(),
		'${booking_date}','${start_time}',
		'${end_time}',${booking_people},
		${booking_price},NULL,
		'${booking_user_name}','${booking_phone}',
		'${booking_email}','${booking_message}'
		)
	</insert>
	
	<select id="find_booking_by_space_no_and_booking_date" parameterType="main.vo.BookingVO" resultType="main.vo.BookingVO">
		SELECT * FROM BookingT WHERE space_no=${space_no} AND booking_date='${booking_date}'
	</select>
</mapper>






