<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="space">

	<select id="sysdate" resultType="java.lang.String">
		SELECT NOW()
	</select>
	
	<resultMap id="RM_find_space_all" type="main.vo.SpaceVO">
	  <result property="space_no" column="space_no" jdbcType="INTEGER"/>
      <result property="crn" column="crn" jdbcType="VARCHAR"/>
      <result property="space_content" column="space_content" jdbcType="VARCHAR"/>
      <result property="space_thumb_img" column="space_thumb_img" jdbcType="VARCHAR"/>
      <result property="open_time" column="open_time" jdbcType="VARCHAR"/>
      <result property="close_time" column="close_time" jdbcType="VARCHAR"/>
      <result property="price" column="price" jdbcType="INTEGER"/>
      <result property="max_people" column="max_people" jdbcType="INTEGER"/>
      <result property="space_call" column="space_call" jdbcType="VARCHAR"/>
      <result property="zipcode" column="zipcode" jdbcType="VARCHAR"/>
      <result property="s_category_no" column="s_category_no" jdbcType="INTEGER"/>
      <result property="l_category_no" column="l_category_no" jdbcType="INTEGER"/>
	</resultMap>
	
	
	<select id="find_space_all" resultMap="RM_find_space_all">
		SELECT * FROM SpaceT
	</select>
	
	<insert id="add_space" parameterType="main.vo.SpaceVO">
		INSERT INTO SpaceT VALUES (default,'${crn}','${space_title}','${space_content}','${space_thumb_img}', '${open_time}',
		'${close_time}',${price},${max_people},${min_people},'${space_call}','null',${s_category_no},${l_category_no},NOW())
	</insert>

	<select id="find_space_by_pk" parameterType="main.vo.SpaceVO" resultType="main.vo.SpaceVO">
		SELECT * FROM SpaceT WHERE space_no=${space_no}
	</select>
	
	<select id="find_user_club" parameterType="java.lang.String" resultType="main.vo.ClubVO">
		SELECT club_name FROM ClubT WHERE club_no IN (
		SELECT club_no FROM user_clubt WHERE user_id=#{value})
	</select>
	
	<select id="find_host_by_space_no" parameterType="main.vo.SpaceVO" resultType="main.vo.HostVO">
		SELECT * FROM HostT WHERE crn = (SELECT crn FROM SpaceT WHERE space_no=${space_no})
	</select>
	
	<select id="find_l_category" resultType="java.util.Map">
		SELECT * FROM L_categoryT
	</select>
	
	<select id="find_s_category" resultType="java.util.Map">
		SELECT * FROM S_categoryT
	</select>
	
	<select id="find_s_category_by_space_no" parameterType="main.vo.SpaceVO" resultType="java.lang.String">
		SELECT s_category_name FROM S_categoryT WHERE s_category_no = ( SELECT s_category_no FROM SpaceT WHERE space_no=${space_no} )
	</select>
	
	
	<select id="search_space" parameterType="multi.space.vo.Space_searchVO" resultType="main.vo.SpaceVO">
		SELECT * FROM SpaceT WHERE 0=0
		<if test="l_category_no != null">
			AND l_category_no=#{l_category_no}
		</if>
		<if test="s_category_no != null">
			AND s_category_no=#{s_category_no}
		</if>
		<if test="search_option == 1">
			AND space_title like '%${search_content}%'
		</if>
		<if test="search_option == 2">
			AND space_content like '%${search_content}%'
		</if>
		<if test="search_option == 3">
			AND space_title like '%${search_content}%'
			OR space_content like '%${search_content}%'
		</if>
		<if test="start_no != null">
			ORDER BY space_no ASC LIMIT #{start_no},10
		</if>
	</select>
	
	<delete id="del_space_by_space_no" parameterType="main.vo.SpaceVO">
		DELETE FROM SpaceT WHERE space_no=#{space_no}
	</delete>
	
	<update id="mod_space" parameterType="main.vo.SpaceVO">
		UPDATE SpaceT SET space_title='${space_title}',space_content='${space_content}',open_time='${open_time}',
		close_time='${close_time}',price=${price},min_people=${min_people},max_people=${max_people},l_category_no=${l_category_no},
		s_category_no=${s_category_no} WHERE space_no=${space_no}
	</update>
	
	<!--
	
	-->
</mapper>






