<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="admin_space">
	
	<!-- 공간 부분 -->
	<!--
	DROP PROCEDURE IF EXISTS p_admin_host_space_check;
	DELIMITER $$
	CREATE PROCEDURE p_admin_host_space_check(
		IN v_crn VARCHAR(50)
	)
	BEGIN
		SELECT * FROM SpaceT WHERE crn = v_crn;
	END$$
	DELIMITER ;
	-->
	<parameterMap id="PM_p_admin_host_space_check" type="main.vo.SpaceVO" >
		<parameter property="crn" mode="IN" jdbcType="INTEGER"/>
	</parameterMap>
	<resultMap id="RM_p_admin_host_space_check" type="main.vo.SpaceVO" >
		<result property="space_no" column="space_no" jdbcType="INTEGER" />
		<result property="crn" column="crn" jdbcType="VARCHAR" />
		<result property="space_title" column="space_title" jdbcType="VARCHAR" />
		<result property="space_content" column="space_content" jdbcType="VARCHAR" />
		<result property="space_thumb_img" column="space_thumb_img" jdbcType="VARCHAR" />
		<result property="open_time" column="open_time" jdbcType="VARCHAR" />
		<result property="close_time" column="close_time" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="INTEGER" />
		<result property="max_people" column="max_people" jdbcType="INTEGER" />
		<result property="min_people" column="min_people" jdbcType="INTEGER" />
		<result property="space_call" column="space_call" jdbcType="VARCHAR" />
		<result property="zipcode" column="zipcode" jdbcType="VARCHAR" />
		<result property="s_category_no" column="s_category_no" jdbcType="INTEGER" />
		<result property="l_category_no" column="l_category_no" jdbcType="INTEGER" />
		<result property="the_time" column="the_time" jdbcType="VARCHAR" />
	</resultMap>
	<select id="p_admin_host_space_check" statementType="CALLABLE" 
		resultMap="RM_p_admin_host_space_check"
		parameterMap="PM_p_admin_host_space_check">
		{call p_admin_host_space_check(?)}
	</select>
	
	<select id="admin_space_search" parameterType="multi.admin.vo.Admin_searchVO"
		resultType="main.vo.SpaceVO">
	
		SELECT * FROM SpaceT WHERE 0 = 0
		<if test="search_option == 1">
		AND crn like '%${search_content}%'
		</if>
		<if test="search_option == 2">
		AND space_title like '%${search_content}%'
		</if>
		<if test="search_option == 3">
		AND space_title like '%${search_content}%'
		</if>
		<if test="search_option == 4">
		AND open_time like '%${search_content}%'
		</if>
		<if test="search_option == 5">
		AND close_time like '%${search_content}%'
		</if>
		<if test="search_option == 6">
		AND price like '%${search_content}%'
		</if>
		<if test="search_option == 7">
		AND max_people like '%${search_content}%'
		</if>
		<if test="search_option == 8">
		AND min_people like '%${search_content}%'
		</if>
		<if test="search_option == 9">
		AND space_call like '%${search_content}%'
		</if>
		<if test="search_option == 10">
		AND zipcode like '%${search_content}%'
		</if>
		<if test="search_option == 11">
		AND s_category_no like '%${search_content}%'
		</if>
		<if test="search_option == 12">
		AND l_category_no like '%${search_content}%'
		</if>
		<if test="search_option == 13">
		AND the_time like '%${search_content}%'
		</if>
		<if test="search_option == 14">
		AND space_title like '%${search_content}%'
		OR space_content like '%${search_content}%'
		</if>
	</select>

	<select id="admin_space_search2" parameterType="multi.admin.vo.Admin_searchVO"
		resultType="main.vo.SpaceVO">
	
		SELECT * FROM SpaceT
		<if test="search_option == 1">
		ORDER BY the_time DESC
		</if>
		<if test="search_option == 2">
		ORDER BY the_time ASC
		</if>
		<if test="search_option == 3">
		ORDER BY price DESC
		</if>
		<if test="search_option == 4">
		ORDER BY price ASC
		</if>
	</select>
	
	
	<!--
	DROP PROCEDURE IF EXISTS p_admin_remove_Space;
	DELIMITER $$
	CREATE PROCEDURE p_admin_remove_Space(
		IN v_space_no INT
	)
	BEGIN
		DECLARE exit handler FOR SQLEXCEPTION
		BEGIN
			ROLLBACK;
			SIGNAL SQLSTATE '45000';
		END;
		START TRANSACTION;
			DELETE FROM BookingT WHERE space_no = v_space_no;
			DELETE FROM Space_QnAT WHERE space_no = v_space_no;
			DELETE FROM Space_QnA_RepleT WHERE space_no = v_space_no;
			DELETE FROM ImageT WHERE space_no = v_space_no;
			DELETE FROM ReviewT WHERE space_no = v_space_no;
			DELETE FROM BookmarkT WHERE space_no = v_space_no;
			DELETE FROM BookingT WHERE space_no = v_space_no;
			DELETE FROM SpaceT WHERE space_no = v_space_no;
		COMMIT;
	END$$
	DELIMITER ;
	-->
	<parameterMap id="PM_p_admin_remove_Space" type="main.vo.SpaceVO" >
		<parameter property="space_no" mode="IN" jdbcType="INTEGER"/>
	</parameterMap>
	<delete id="p_admin_remove_Space" statementType="CALLABLE"
		parameterType = "main.vo.SpaceVO"
		parameterMap = "PM_p_admin_remove_Space">
		{call p_admin_remove_Space(?)}
	</delete>
	
	
	<!--
	DROP PROCEDURE IF EXISTS p_admin_space_crn_check;
	DELIMITER $$
	CREATE PROCEDURE p_admin_space_crn_check(
		IN v_crn VARCHAR(50)
	)
	BEGIN
		SELECT * FROM HostT WHERE crn = v_crn;
	END$$
	DELIMITER ;
	-->
	<parameterMap id="PM_p_admin_space_crn_check" type="main.vo.HostVO" >
		<parameter property="crn" mode="IN" jdbcType="VARCHAR"/>
	</parameterMap>
	<resultMap id="RM_p_admin_space_crn_check" type="main.vo.HostVO" >
		<result property="crn" column="crn" jdbcType="VARCHAR" />
		<result property="user_id" column="user_id" jdbcType="VARCHAR" />
		<result property="host_name" column="host_name" jdbcType="VARCHAR" />
		<result property="host_account" column="host_account" jdbcType="VARCHAR" />
		<result property="zipcode" column="zipcode" jdbcType="VARCHAR" />
	</resultMap>
	<select id="p_admin_space_crn_check" statementType="CALLABLE" 
		resultMap="RM_p_admin_space_crn_check"
		parameterMap="PM_p_admin_space_crn_check">
		{call p_admin_space_crn_check(?)}
	</select>
	
</mapper>






