<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="apple">

	<select id="sysdate" resultType="java.lang.String">
		SELECT NOW()
	</select>

<!-- **************** multi.home.login **************** -->

   <resultMap id="RM_login" type="main.vo.UserVO">
      <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
      <result property="ssn1" column="ssn1" jdbcType="VARCHAR"/>
      <result property="ssn2" column="ssn2" jdbcType="VARCHAR"/>     
      <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
      <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
      <result property="gender" column="gender" jdbcType="VARCHAR"/>      
      <result property="phone" column="phone" jdbcType="VARCHAR"/>      
      <result property="nickname" column="nickname" jdbcType="VARCHAR"/>      
      <result property="zipcode" column="zipcode" jdbcType="VARCHAR"/>            
      <result property="email" column="email" jdbcType="VARCHAR"/>     
      <result property="grade" column="grade" jdbcType="INTEGER"/>          
   </resultMap>

	
	<select id="home_login" resultMap="RM_login">
		SELECT * from userT where user_id = #{user_id} AND passwd =#{passwd};
	</select>

	<select id="home_loginFindUserInfo" resultMap="RM_login">
		SELECT * from userT where user_id = #{user_id};
	</select>
	
	<select id="home_loginFind_userId" resultMap="RM_login">
		SELECT * from userT where user_name = #{user_name} AND ssn1 = #{ssn1} AND ssn2 = #{ssn2};
	</select>
	<select id="home_loginFind_userPasswd" resultMap="RM_login">
		SELECT * from userT where user_name = #{user_name} AND ssn1 = #{ssn1} AND ssn2 = #{ssn2} AND user_id = #{user_id};
	</select>

</mapper>
<!--

-->
